<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	data-proxy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	 
	<servlet>
		<servlet-name>Proxy</servlet-name>
		<servlet-class>uk.org.mygrid.dataproxy.web.servlet.ProxyServlet</servlet-class>	
		<load-on-startup>1</load-on-startup>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Proxy</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewWSDL</servlet-name>
		<servlet-class>uk.org.mygrid.dataproxy.web.servlet.ViewWSDLServlet</servlet-class>	
		<load-on-startup>1</load-on-startup>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewWSDL</servlet-name>
		<url-pattern>/viewwsdl</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<description>
		</description>
		<display-name>
		NewWSDLServlet</display-name>
		<servlet-name>NewWSDLServlet</servlet-name>
		<servlet-class>
		thinwire.render.web.WebServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>mainClass</param-name>
			<param-value>uk.org.mygrid.dataproxy.web.thinwire.NewWSDL</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>extraArguments</param-name>
			<param-value>initParam,clientInfo,header</param-value>
		</init-param>
	</servlet>	

	<servlet-mapping>
		<servlet-name>NewWSDLServlet</servlet-name>
		<url-pattern>/newwsdl/</url-pattern>
	</servlet-mapping>	
	
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	
</web-app>
