
			<h3>User $user.username</h3>
			<dl>
			#if ($user.email)
				<dt>E-mail</dt>
				<dd class="email">$user.email</dd>
			#end
				
				<dt>Last seen</dt>
				<dd class="lastSeen">$user.lastSeen</dd>
				
				<dt>Role</dt>
				
				<dd class="role">
			#if ($user.isAdmin())
				Administrator
			#else
				## User or Worker
				$user.class.simpleName
			#end
				</dd>		
			</dl>
			
				
			<div class="workflows">
			 $wfCount <a href="$wfURI">Workflows</a>
			</div>
			
			<div class="datas">
			 $datasCount <a href="$datasURI">Data documents</a>
			</div>
			
			<div class="jobs">
			 $jobsCount <a href="$jobsURI">Jobs</a>
			</div>
			<br><br>
			<a href="$edituser_uri">Edit Settings</a>
			
	