		<center>
			<h3>The Workers</h3>
			<table>
				<tr><th>Worker ID</th><th>Status</th><th>Jobs Run</th></tr>
				#foreach($worker in $workers)
					<tr>
					<td>$worker.getId()</td>
					<td>
						#if ($worker.isBusy() == true)
							Busy
						#else
							Idle
	    				#end
	    			</td>
	    			<td>
	    				$worker.getWorkerJobs().size()
				    </td>
				    #if ($isAdmin && !$worker.isBusy())
				    	<td>
				    	<form method="POST" action="${uriFactory.getURI($worker)}?method=DELETE">
				    		<input type="Submit" value="Delete"/>
	    				</form>
	    				</td>
    				#end
					</tr>
				#end
			</table>
			#if ($isAdmin && $workers.size() < 4) 
				<form method="POST">
					<input type="submit" value="Create New"/>
				</form>
			#end
		</center>