<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>LSID Server for Taverna</display-name>
	<servlet>
		<servlet-name>AuthorityService</servlet-name>
		<display-name>Taverna Authority Servlet</display-name>
		<servlet-class>com.ibm.lsid.server.AuthorityServlet</servlet-class>
		<init-param>
			<param-name>service1</param-name>
			<param-value>*:taverna-workflow org.embl.ebi.escience.ouzo.TavernaLSIDAuthorityMain</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MetaDataService</servlet-name>
		<display-name>Taverna MetaData Servlet</display-name>
		<servlet-class>com.ibm.lsid.server.MetaDataServlet</servlet-class>
		<init-param>
			<param-name>service1</param-name>
			<param-value>*:taverna-workflow org.embl.ebi.escience.ouzo.TavernaLSIDAuthorityMetaData</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DataService</servlet-name>
		<display-name>Taverna Data Servlet</display-name>
		<servlet-class>com.ibm.lsid.server.DataServlet</servlet-class>
		<init-param>
			<param-name>service1</param-name>
			<param-value>*:taverna-workflow org.embl.ebi.escience.ouzo.TavernaLSIDAuthorityData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorityService</servlet-name>
		<url-pattern>/authority/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetaDataService</servlet-name>
		<url-pattern>/authority/metadata/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataService</servlet-name>
		<url-pattern>/authority/data</url-pattern>
	</servlet-mapping>
</web-app>
