 ---
 Installation
 ---
 David Withers
 ---

Installing $project.name

 <$project.name> is distributed as a web archive (WAR) file that is deployed on a Java Servlet Container. If you don't already have a
Servlet Container we recommend {{{http://tomcat.apache.org/download-60.cgi}Apache Tomcat 6}}.
 
*Deploying on Apache Tomcat 6

 You may need to alter the JAVA_OPTS in catalina.sh to add -XX:MaxPermSize=140m.

**Starting the Tomcat Manager

 Navigate to the the Tomcat home page in your browser. The default Tomcat installation is usually at at {{http://localhost:8080/}}
Under the <Administration> section click on <Tomcat Manager>.

[../images/deploy-tomcat-1.png]

**Deploying the WAR file

 Scroll down to the <Deploy> section. Under <WAR file to deploy>, select the WAR file you have {{{../download.html}downloaded}} and click on <Deploy>.

[../images/deploy-tomcat-2.png]

**Viewing deployed applications

 When the WAR file is deployed <<taverna-server>> should be shown in the list of deployed applications.

[../images/deploy-tomcat-3.png]
