<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Taverna Service</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Your application class name -->
	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>
			net.sf.taverna.service.servlet.TavernaServiceServletApplication
		</param-value>
	</context-param>
	
	<!-- Restlet adapter -->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>
			com.noelios.restlet.ext.servlet.ServerServlet
		</servlet-class>
	</servlet>

	<!-- Map /rest/* requests to Restlet -->
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>
			net.sf.taverna.service.servlet.ServicesInitialisation
		</listener-class>
	</listener>

</web-app>
