<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>taverna</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>org.embl.ebi.escience.scuflui.workbench.Workbench</string>
		<key>JVMVersion</key>
		<string>1.4+</string>
		<key>Properties</key>
		<dict>
			<key>taverna.dotlocation</key>
			<string>$JAVAROOT/../../../../Graphviz.app/Contents/MacOS/dot</string>
			<key>taverna.scrollDesktop</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms256m -Xmx512m</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/commons-discovery.jar</string>
			<string>$JAVAROOT/activation.jar</string>
			<string>$JAVAROOT/notification-processor.jar</string>
			<string>$JAVAROOT/freefluo.jar</string>
			<string>$JAVAROOT/xercesImpl.jar</string>
			<string>$JAVAROOT/jmoby.jar</string>
			<string>$JAVAROOT/axis.jar</string>
			<string>$JAVAROOT/jaxrpc.jar</string>
			<string>$JAVAROOT/commons-logging.jar</string>
			<string>$JAVAROOT/saaj.jar</string>
			<string>$JAVAROOT/xercesSamples.jar</string>
			<string>$JAVAROOT/log4j-1.2.8.jar</string>
			<string>$JAVAROOT/taverna-0.1beta10.jar</string>
			<string>$JAVAROOT/alltools.jar</string>
			<string>$JAVAROOT/jdom.jar</string>
			<string>$JAVAROOT/concurrent.jar</string>
			<string>$JAVAROOT/servlet.jar</string>
			<string>$JAVAROOT/mail.jar</string>
			<string>$JAVAROOT/dom4j.jar</string>
			<string>$JAVAROOT/wsdl4j.jar</string>
			<string>$JAVAROOT/xmlParserAPIs.jar</string>
			<string>$JAVAROOT/jgraph.jar</string>
			<string>$JAVAROOT/talisman1.4.5.11.jar</string>
			<string>$JAVAROOT/conf.jar</string>
			</array>
	</dict>
</dict>
</plist>
