
#include("edituser.js")
#include("uservalidate.js")

<script>
	function validateDetails(form) {
		var email=form.email.value;
		var password=form.newpassword.value;
		var confirm=form.newconfirm.value;
		var updatepassword=form.updatepassword.checked
		
		if (updatepassword && !validatePasswords(password,confirm)) {
			return false;
		}
		return validateEmail(email);
	}
</script>
	
	
<center><h3>Edit user settings</h3>

	#if ($errorMsg)
	Error: $errorMsg<br>
	#end
	
	#set($admin_tag="")
	#if ($userisadmin)
		#set($admin_tag="CHECKED")
	#end
	
	#set($updatepassword_tag="")
	#if($updatepassword)
		#set($updatepassword_tag="CHECKED")
	#end
	
	<form name="edituser" method="POST">
	<table>
	<tr><td>Username:</td><td>$!name</td></tr>
	<tr><td>Email:</td><td><input type="text" name="email" value="$!email"/></td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>Change password?</td><td><input type="checkbox" name="updatepassword" onClick="javascript:enableDisableElements()" $updatepassword_tag></td></tr>
	<tr><td>New Password:</td><td><input type="password" name="newpassword" value="$!newpassword"/></td></tr>
	<tr><td>Confirm password:</td><td><input type="password" name="newconfirm" value="$!newconfirm"/></td></tr>
	<tr><td>&nbsp;</td></tr>
	#if ($isAdmin)
		<tr><td>Admin?</td><td><input type="checkbox" name="userisadmin" $admin_tag></td></tr>
		<tr><td>&nbsp;</td></tr>
	#end
	<tr><td>Password:</td><td><input type="password" name="password" value=""/></td></tr>
	<tr><td></td><td><input type="submit" value="Update" onClick="return validateDetails(this.form)"/></td><td></td></tr>
	
	<script language="javascript">enableDisableElements();</script>
	</table>
	</form>

</center>