
		#include("adminconfig.js")
	
		<center><h1>Admin Configuration</h1>
		#if ($currentuser.admin)
			#set($allowregister_tag="")
			#if ($allowregister)
				#set($allowregister_tag="CHECKED")
			#end
			
			#set($allowemail_tag="")
			#if ($allowemail)
				#set($allowemail_tag="CHECKED")
			#end
			
			#set($smtpauthrequired_tag="")
			#if ($$smtpauthrequired)
				#set($smtpauthrequired_tag="CHECKED")
			#end
			
			#if($message)
				#if ($isError)
					Error: $message
				#else
					$message
				#end
			#end
			
			<form name="configform" method="post">
				<table>
					<tr><td>Allow user registration</td><td><input type="checkbox" name="allowregister" $allowregister_tag ></td></tr>
					<tr><td>Upper memory allocated<br>to each worker</td><td><input type="text" name="workermemory" value="$!workermemory" style="text-align:right">Mb</td></tr>
					<tr><td>Allow email notifications</td><td><input type="checkbox" name="allowemail" onChange="javascript:enableDisableElements()" $allowemail_tag ></td></tr>
					<tr><td>SMTP server</td><td><input type="text" name="smtpserver" value="$!smtpserver"></td></tr>
					<tr><td>Senders email address</td><td><input type="text" name="fromemailaddress" value="$!fromemailaddress"></td></tr>
					<tr><td>Authentication required</td><td><input type="checkbox" name="smtpauthrequired" onChange="javascript:enableDisableElements()" $smtpauthrequired_tag ></td></tr>
					<tr><td>Username</td><td><input type="text" name="smtpusername" value="$!smtpusername"></td></tr>
					<tr><td>Password</td><td><input type="password" name="smtppassword" value="$!smtppassword"></td></tr>
					<tr><td>Confirm password</td><td><input type="password" name="smtppasswordconfirm" value="$!smtppasswordconfirm"></td></tr>
					<tr><td>Base URI</td><td><input type="text" name="baseuri" value="$!baseuri"></td></tr>
					<tr><td><input type="submit" value="Update" onClick="return validateDetails(this.form)"/></td><td></td></tr>
					<script language="javascript">enableDisableElements();</script>
				</table>
			</form>
		#else
			<h2>You need to be an administrator to view this page.</h2>
			<script language="javascript">alert("Sorry, but this page is restricted to administrator users only!")</script>
		#end