<h2>Remote Taverna Execution</h2>

#if($authuser)
#set($isAdmin=$authuser.admin)
<table>
<tr>
	<td><a href="$user_uri">My Home</a></td>
	<td><a href="$queue_uri">Queue</a></td>
	#if($isAdmin)
	<td>&nbsp;</td>
	<td><a href="$config_uri">System Configuration</a></td>
	<td><a href="$workers_uri">Workers</a></td>
	<td><a href="$adduser_uri">Add User</a></td>
	#end
</tr>	
	
</table>
#end