
		<center>
			<h3>Job: 
			#if($job.title)
 				$job.title
			#else
				$job.id
			#end
			</h3>
			<table>
				<tr><td>Created:</td><td>$job.created</td></tr>
				<tr><td>Last modified:</td><td>$job.lastModified</td></tr>
				
				<tr><td>Status:</td><td>$job.status</td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td>Workflow:</td><td><a href="$workflowUri">
					#if($workflow.name)
						$workflow.name
					#else
						$workflow.id
					#end
					</a></td></tr>
				<tr><td>Inputs: </td><td>
					#if($input)
						<a href="$inputUri">$input.id</a>
					#else
						No Inputs
					#end
				</td></tr>
					
				<tr><td>Progress Report: </td><td><a href="$progressUri">report</a></td></tr>
				
				#if($isFinished)
					<tr>
					 <td>Outputs: </td>
					 <td>
					#if($output)
						<a href="$outputUri">$output.id</a>
					#else
						No Outputs
					#end
					</td></tr>
				#end
				<tr>
				 <td>Console: </td>
				 <td>
					#if($consoleUri)
						<a href="$consoleUri">Console output</a>
					#else
						No console output
					#end
					</td></tr>
				</td>                   	
			</table>
			<br>		
			#set($userjob=$job.getOwner().equals($currentuser))
			#if ($userjob && (!$job.hasStarted() || $job.isFinished()))
				<form method="POST" action="?method=delete">
					<input type="submit" value="Delete">
				</form> 
			#end
			
		</center>
	