
			<h3>$ownedType owned by <a href="$userURI">$user.username</a></h3>
			
			<div class="collection">
			
			#foreach( $obj in $collection )
				<div>
				<a href="$uriFactory.getURI($obj)">
					#if ($obj.name)
						$obj.name
					#else
						$obj.id
					#end
				</a>
				<span class="created">
					Created at: $obj.created
				</span>
				
				</div>
			#end
			
			</div>
	