<!-- Webapp definition for the workflow repository -->
<!-- Tom Oinn, tmo@ebi.ac.uk, 16th September 2005  -->

<!-- Configure your installation by editing the    -->
<!-- init-param tags for the submit servlet, this  -->
<!-- is then loaded on container startup and used  -->
<!-- to configure everything else.                 -->

<web-app>

  <!-- Handles upload of workflows to the repository, mapped to /submit -->
  <servlet>
    <display-name>Repository submission servlet</display-name>
    <!-- Force init when the application server starts -->
    <load-on-startup>0</load-on-startup>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>net.sf.taverna.repository.server.SubmitServlet</servlet-class>
    <!-- Directory on local filesystem containing workflows -->
    <init-param>
      <param-name>location</param-name>
      <param-value>C:\workflows</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
    
</web-app>