body {
	background-color: #FFFFFF;
	text-align: justify;
	list-style-type: square;
	background-image: url(menubarbacklight.png);
	background-repeat: repeat;
	background-attachment: scroll;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	text-decoration: none;





}
blockquote {
	margin: 3px;
	padding: 6px;
	text-align: justify;
	left: auto;
	border: 1px solid #000066;
	background-color: #FFFFFF;
	display: block;
	color: #000000;
	background-image: url(gradient2.png);
	background-repeat: repeat-y;




}
a {
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;




}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	text-align: justify;
	vertical-align: top;


}
img {
	border: 1px solid #000000;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	color: #000000;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;

}
em {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: italic;
	font-weight: normal;
	font-variant: normal;
}
pre {
	font-family: "Courier New", Courier, mono;
	font-size: x-small;
}
td {
	font-size: x-small;
	text-align: justify;
	vertical-align: top;

}
