<ul class="menu">
	<li>
		<a href="$uriFactory.getURIForTypes()">All types</a>
	</li>
</ul>
		
		<h2>Services producing type</h2>
		#set($services=$producingServices)
		#parse("templates_lib/list_services.vm")
		</ul>
		
		<h2>Services consuming type</h2>
		#set($services=$consumingServices)
		#parse("templates_lib/list_services.vm")
