body {
	background-color: #F0F0F0;
}

#header {
	width: 100%;
	background-color: #E0E0E0;
	text-align: left;
	}

#footer {
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: 75%;
	font-size:  small;
}