## List services
## Requires $uriFactory and $services

<p>$services.size() services found:</p>
<ul>
#set($lastInterface = "unknown")
#foreach ($service in $services)
	#if ($service.hasInterfaceLocations.isEmpty())
	   #set($interface = "")
	#else   
		#set($interface = $service.hasInterfaceLocations.iterator().next())
	#end
	#if ($interface != ($lastInterface))
		#if($lastInterface != "unknown")
				</ul>
			</li>
		#end
		#set($lastInterface = $interface)
		<li>$interface
		<ul>
	#end
			<li><a href="$uriFactory.getURI($service)">$service.hasServiceNameTexts</a>
			<small>$service.hasServiceDescriptionTexts</small>
			</li>
#end
</ul>