<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:raven="http://taverna.sf.net/schema/artifact-support"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://taverna.sf.net/schema/artifact-support 
	http://taverna.sf.net/schema/artifact-support/artifact-support.xsd">

	


	<!-- DataSource Property -->
	<bean id="exampleDataSource"
		class="net.sf.taverna.platform.spring.jdbc.InterpolatingDriverManagerDataSource">
		<property name="driverClassName">
			<value>org.apache.derby.jdbc.EmbeddedDriver</value>
		</property>
		<property name="url">
			<value>
				jdbc:derby:${user.home}/t2platform/javadb;create=true
			</value>
		</property>
	</bean>

	<!-- Database Property -->
	<bean id="exampleHibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.DerbyDialect
				</prop>
				<prop key="hibernate.query.substitutions">
					true 'T', false 'F'
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.c3p0.minPoolSize">5</prop>
				<prop key="hibernate.c3p0.maxPoolSize">20</prop>
				<prop key="hibernate.c3p0.timeout">600</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
				<prop key="hibernate.c3p0.testConnectionOnCheckout">
					false
				</prop>
			</props>
		</property>
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="exampleSessionFactory"
		class="net.sf.taverna.platform.spring.orm.hibernate3.SpiRegistryAwareLocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="exampleDataSource" />
		</property>
		<property name="hibernateProperties">
			<ref bean="exampleHibernateProperties" />
		</property>
		<property name="mappingResources">
			<list>
				<value>
					net/sf/taverna/platformtest/api/AbstractDataBean.hbm.xml
				</value>
			</list>
		</property>
		<property name="spiRegistries">
			<list>
				<ref bean="spiBean" />
			</list>
		</property>
	</bean>

	<repository id="ravenRepository"
		xmlns="http://taverna.sf.net/schema/artifact-support"
		base="${user.home}/.m2/repository/">
		<repositories />
		<system>

			<!-- Raven -->
			<sys artifact="uk.org.mygrid.taverna.raven:raven:1.7.1.0" />

			<!-- Spring modules -->
			<sys artifact="org.springframework:spring-core:2.5" />
			<sys artifact="org.springframework:spring-orm:2.5" />
			<sys artifact="org.springframework:spring-tx:2.5" />
			<sys artifact="org.springframework:spring-jdbc:2.5" />
			<sys artifact="org.springframework:spring-beans:2.5" />
			<sys artifact="org.springframework:spring-context:2.5" />
			<sys artifact="org.springframework:spring-aop:2.5" />
			<sys artifact="aopalliance:aopalliance:1.0" />

			<!-- Logging -->
			<sys artifact="commons-logging:commons-logging:1.1.1" />

			<!-- Derby -->
			<sys artifact="org.apache.derby:derby:10.4.1.3" />

			<!-- Hibernate -->
			<sys artifact="org.hibernate:hibernate:3.2.5.ga" />

			<!-- Test helper API package -->
			<sys
				artifact="net.sf.taverna.t2.testing:t2platform-testhelpers-h3-api:0.1-SNAPSHOT" />

		</system>
	</repository>

	<bean id="spiBean"
		class="net.sf.taverna.platform.spring.SpiRegistryFactoryBean">
		<property name="repository">
			<ref bean="ravenRepository" />
		</property>
		<property name="spiClassName"
			value="net.sf.taverna.platformtest.api.DataBeanSPI" />
	</bean>

</beans>