<html>
	<body>
		<h1>Organisations</h1>
		<ul>
		#foreach($organisation in $organisations)
			<li>
				<a href="$uriFactory.getURIForOrganisation($organisation)">
					$organisation
				</a>
			</li>
		#end
		</ul>
	</body>
</html>
