<html>
	<head>
		<title>User Registration</title>
	</head>
</html>
<body>
	
	
<center><h1>User Registration</h1>

#if ($errorMsg)
Error: $errorMsg
#end

<form method="POST">
<table>
<tr><td>Username:</td><td><input type="text" name="name" value="$!name"/></td></tr>
<tr><td>Password:</td><td><input type="password" name="password" value="$!password"/></td></tr>
<tr><td>Confirm password:</td><td><input type="password" name="confirm" value="$!confirm"/></td></tr>
<tr><td>Email:</td><td><input type="text" name="email" value="$!email"/></td></tr>
<tr><td></td><td><input type="submit" type="submit" value="Register"/></td><td></td></tr>
</table>
</form>

</center>
</body>
<html>