<html>
	<head>
		<title>
			Workers
		</title>
	</head>
	<body>
		<center><h1>The Workers</h1>
			<table>
				<tr><th>Worker ID</th><th>Status</th><th>Jobs Run</th></tr>
				#foreach($worker in $workers)
					<tr>
					<td>$worker.getId()</td>
					<td>
						#if ($worker.isBusy() == true)
							Busy
						#else
							Idle
	    				#end
	    			</td>
	    			<td>
	    				$worker.getWorkerJobs().size()
				    </td>
				    #if ($isAdmin && !$worker.isBusy())
				    	<td>
				    	<form method="POST" action="$worker.getId()?method=delete">
				    		<input type="Submit" value="Delete"/>
	    				</form>
	    				</td>
    				#end
					</tr>
				#end
			</table>
			#if ($isAdmin) 
				<form method="POST">
					<input type="submit" value="Create New"/>
				</form>
			#end
		</center>
	</body>
</html>