<ul class="menu">
	<li>
		<a href="$uriFactory.getURIForServices()">All services</a>
	</li>
</ul>
		<dl>
			#if (! $service.providedBy.empty)	
				<dt>Provider</dt>
				<dd>
					<a href="$uriFactory.getURI($provider)">
					$provider.hasOrganisationNameTexts
					</a>
				</dd>
			#end
			
			#if (! $service.hasServiceDescriptionTexts.empty)
			<dt>Description</dt>
			<dd>
				$utils.htmlURLs($utils.firstOf($service.hasServiceDescriptionTexts))
			</dd>
			#end
			
					
			#if ($exampleWorkflow)
			<dt>Example workflow</dt>
			<dd>
				<a href="$exampleWorkflow">$exampleWorkflow</a>
			</dd>
			#end
			
			#if (! $service.locationURI.empty)
			<dt>Location</dt>
			<dd>$service.locationURI</dd>
			#end
			
			#if (! $service.hasInterfaceLocations.empty)
			<dt>Interface</dt>
			<dd>$service.hasInterfaceLocations</dd>
			#end			
						
		</dl>
		<h2>Operation $operation.hasOperationNameTexts</h2>
			<p>$utils.htmlURLs($utils.firstOf($operation.hasOperationDescriptionTexts))</p>
			
			#if(! $tasks.empty)
				<h3>Performs tasks</h3>
				<ul>
				#foreach($task in $tasks)
				   <li><a href="$uriFactory.getURIForTask($task)">$task</a></li>
				#end
				</ul>
			#end
			
			#if(! $methods.empty)
				<h3>Uses methods</h3>
				<ul>
				#foreach($method in $methods)
				   <li><a href="$uriFactory.getURIForMethod($method)">$method</a></li>
				#end
				</ul>
			#end
			
			#if(! $resources.empty)
				<h3>Uses resources</h3>
				<ul>
				#foreach($resource in $resources)
				   <li><a href="$uriFactory.getURIForResource($resource)">$resource</a></li>
				#end
				</ul>
			#end
			
			#if(! $inputs.empty)
			<h3>Inputs</h3>
			<ul class="inputs parameters">
			#foreach($parameter in $inputs)
				<li>
					#parse("templates_lib/list_parameter.vm")
				</li>
			#end
			</ul>
			#end
			
			#if(! $outputs.empty)
			<h3>Outputs</h3>
			<ul class="outputs parameters">
			#foreach($parameter in $outputs)
				<li>
					#parse("templates_lib/list_parameter.vm")
				</li>
			#end
			</ul>
			#end
