<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5.0</string>
	<key>CFBundleIconFile</key>
	<string>Taverna.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Taverna</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2005-12-15</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/taverna-bootstrap-1.5.0.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>net.sf.taverna.tools.Bootstrap</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>java.protocol.handler.pkgs</key>
			<string>uk.ac.rdg.resc.jstyx.client</string>
			<key>java.system.class.loader</key>
			<string>net.sf.taverna.tools.BootstrapClassLoader</string>
			<key>javax.net.ssl.trustStoreProvider</key>
			<string>Apple</string>
			<key>javax.net.ssl.trustStoreType</key>
			<string>KeychainStore</string>
			<key>taverna.dotlocation</key>
			<string>$APP_PACKAGE/Contents/MacOS/dot</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx300m</string>
	</dict>
</dict>
</plist>
