 ---
 REST interface
 ---
 David Withers
 ---
 
${project.name}'s REST interface

*--------------+-------------------+-------+----------------------------------+----------------------------------+
||Operation    ||Path              ||Method||Consumes                         ||Produces                         |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|addData       |/data/             |POST   |application/xml                   |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|deleteData    |/data/\{id\}       |DELETE |                                  |                                  |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getData       |/data/\{id\}       |GET    |                                  |application/xml                   |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|addJob        |/jobs/             |POST   |application/xml                   |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|deleteJob     |/jobs/\{id\}       |DELETE |                                  |                                  |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getJob        |/jobs/\{id\}       |GET    |                                  |application/xml                   |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getJobs       |/jobs/             |GET    |                                  |application/xml                   |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getJobStatus  |/jobs/\{id\}/status|GET    |                                  |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|cancelJob     |/jobs/\{id\}/cancel|GET    |                                  |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|pauseJob      |/jobs/\{id\}/pause |GET    |                                  |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|resumeJob     |/jobs/\{id\}/resume|GET    |                                  |text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|addWorkflow   |/workflows/        |POST   |application/vnd.taverna.t2flow+xml|text/plain                        |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|deleteWorkflow|/workflows/\{id\}  |DELETE |                                  |                                  |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getWorkflow   |/workflows/\{id\}  |GET    |                                  |application/xml                   |
*--------------+-------------------+-------+----------------------------------+----------------------------------+
|getWorkflows  |/workflows/        |GET    |                                  |application/xml                   |
*--------------+-------------------+-------+----------------------------------+----------------------------------+

Resource Definitions

  The XML produced and consumed by the REST interface is defined in an {{{./schema1.xsd}XML schema}}.

