<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:raven="http://taverna.sf.net/schema/artifact-support"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://taverna.sf.net/schema/artifact-support 
	http://taverna.sf.net/schema/artifact-support/artifact-support.xsd">

	<!-- Example of a bean to be loaded through Raven, this particular -->
	<!-- bean is one of the dispatch layers from T2 -->
	<bean id="ravenTestBean"
		raven:artifact="net.sf.taverna.t2.core:workflowmodel-impl:1.1-SNAPSHOT"
		raven:repository="ravenRepository"
		class="net.sf.taverna.t2.workflowmodel.processor.dispatch.layers.ErrorBounce" />

	<!-- Non-raven bean, in this case a bean post processor -->
	<bean
		class="net.sf.taverna.platform.spring.RavenEagerArtifactDownload" />

	<!-- The raven repository factory bean, I'll implement a proper -->
	<!-- schema driven extension for this  but for now you can instantiate -->
	<!-- the repository through this factorybean implementation -->
	<bean id="ravenRepository"
		class="net.sf.taverna.platform.spring.RepositoryFactoryBean">
		<property name="base"
			value="${java.io.tmpdir}/t2platform/test-repository" />
		<property name="remoteRepositoryList">
			<list>
				<value>
					http://www.mygrid.org.uk/maven/repository/
				</value>
				<value>
					http://www.mygrid.org.uk/maven/repo1/
				</value>
				<value>http://moby.ucalgary.ca/moby_maven/</value>
				<value>http://mirrors.sunsite.dk/maven2/</value>
				<value>http://mirrors.ibiblio.org/maven2/</value>
				<value>
					http://bioinf.ncl.ac.uk/mirror/maven/repository/
				</value>
				<value>
					http://mirror.omii.ac.uk/maven/repository/
				</value>
				<value>
					http://www.mygrid.org.uk/maven/snapshot-repository/
				</value>
			</list>
		</property>
		<property name="systemArtifacts">
			<list>
				<value>net.sf.taverna.t2.infrastructure:raven:1.12</value>
				<value>org.springframework:spring-core:2.5</value>
				<value>org.springframework:spring-beans:2.5</value>
				<value>org.springframework:spring-context:2.5</value>
				<value>org.springframework:spring-aop:2.5</value>
				<value>aopalliance:aopalliance:1.0</value>
			</list>
		</property>
	</bean>



</beans>
