<!-- Webapp definition for the interaction service -->
<!-- Tom Oinn, tmo@ebi.ac.uk, 22nd August 2005     -->

<!-- Configure your installation by editing the    -->
<!-- init-param tags for the submit servlet, this  -->
<!-- is then loaded on container startup and used  -->
<!-- to configure everything else.                 -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

  <!-- Handles interaction service request submission, mapped to /workflow/submit -->
  <servlet>
    <servlet-name>SubmitServlet</servlet-name>    
    <display-name>Interaction service submission servlet</display-name>
    <servlet-class>net.sf.taverna.interaction.server.http.SubmitServlet</servlet-class>
    <!-- Define where the server should place temporary data files -->
    <init-param>
      <param-name>temp_location</param-name>
      <param-value>/tmp/</param-value>
    </init-param>
    <!-- Configure for your smtp relay and other mail related parameters -->
    <init-param>
      <param-name>smtp_host</param-name>
      <param-value>mailserv.ebi.ac.uk</param-value>
    </init-param>
    <!-- Default 'from' address for generated messages -->
    <init-param>
      <param-name>mail_from</param-name>
      <param-value>tmo@ebi.ac.uk</param-value>
    </init-param>
    <!-- Base URL from which to assemble callback URLs -->
    <init-param>
      <param-name>base_url</param-name>
      <param-value>http://localhost:8080/interaction-server-webapp-0.4/</param-value>
    </init-param>
    <!-- Set to true to enable wrapping of emails in html body tags -->
    <init-param>
      <param-name>use_html</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <!-- Provides status information, mapped to /workflow/status -->
  <servlet>    
    <servlet-name>StatusServlet</servlet-name>
    <display-name>Interaction service status servlet</display-name>
    <servlet-class>net.sf.taverna.interaction.server.http.StatusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Provides result document from interaction server to workflow, mapped to /workflow/results -->
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <display-name>Interaction service results servlet</display-name> 
    <servlet-class>net.sf.taverna.interaction.server.http.ResultServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Dynamic generation of the patterns.xml -->
  <servlet>    
    <servlet-name>PatternServlet</servlet-name>
    <display-name>Interaction service dynamic pattern metadata</display-name>
    <servlet-class>net.sf.taverna.interaction.server.http.PatternServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <!-- Interface for interaction client code to fetch input data, mapped to /client/download -->
  <servlet>    
    <servlet-name>ClientDownloadServlet</servlet-name>
    <display-name>Interaction client data download servlet</display-name>    
    <servlet-class>net.sf.taverna.interaction.server.http.ClientDownloadServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Interface for interaction client code to upload result data, mapped to /client/upload -->
  <servlet>    
    <servlet-name>ClientUploadServlet</servlet-name>
    <display-name>Interaction client data upload servlet</display-name>
    <servlet-class>net.sf.taverna.interaction.server.http.ClientUploadServlet</servlet-class>    
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/workflow/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/workflow/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/workflow/results</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatternServlet</servlet-name>
    <url-pattern>/patterns.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientDownloadServlet</servlet-name>
    <url-pattern>/client/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientUploadServlet</servlet-name>
    <url-pattern>/client/upload</url-pattern>
  </servlet-mapping>
  
</web-app>