<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FileServingServlet</servlet-name>
        <servlet-class>net.sf.taverna.t2.portal.FileServingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServingServlet</servlet-name>
        <url-pattern>/FileServingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowSubmission</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>WorkflowSubmission</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowSubmission</servlet-name>
        <url-pattern>/PlutoInvoker/WorkflowSubmission</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowResults</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>WorkflowResults</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowResults</servlet-name>
        <url-pattern>/PlutoInvoker/WorkflowResults</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>T2_SERVER_URL</param-name>
        <param-value>http://localhost:8081/taverna-server</param-value>
        <!--<param-value>http://eric.rcs.manchester.ac.uk:8080/taverna-server</param-value>-->
        <description>The URL of the T2 Server to be used for executing the workflows</description>
    </context-param>
    <context-param>
        <param-name>JOBS_DIRECTORY_PATH</param-name>
        <param-value>/Users/alex/Desktop/portal-results</param-value>
        <description>Absolute path to a directory on the local file system where the app can write info about submitted jobs to</description>
    </context-param>
    <context-param>
        <param-name>FILE_SERVLET_URL</param-name>
        <param-value>/FileServingServlet</param-value>
        <description>Relative URL to the servlet that reads files from a local disk and sends their content to a browser</description>
    </context-param>
    <context-param>
        <param-name>MAX_PREVIEW_DATA_SIZE_IN_KB</param-name>
        <param-value>250</param-value>
        <description>Max size of the data file that will be shown in preview window (in KBs)</description>
    </context-param>
    <context-param>
        <param-name>MYEXPERIMENT_BASE_URL</param-name>
        <param-value>http://www.myexperiment.org</param-value>
        <description>Base URL of myExperiment instance to connect to</description>
    </context-param>
</web-app>