<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Default Log4J configuration for example application test module -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="AUGMENTOR_CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="Augmentor  |  %m%n" />
		</layout>
	</appender>

	<appender name="CACHE_CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="DaoCache   >  %m%n" />
		</layout>
	</appender>

	<logger
		name="net.sf.taverna.t2.reference.impl.ReferenceSetAugmentorImpl"
		additivity="false">
		<level value="WARN" />
		<appender-ref ref="AUGMENTOR_CONSOLE" />
	</logger>

	<logger
		name="net.sf.taverna.t2.reference.impl.SimpleCacheProviderImpl"
		additivity="false">
		<level value="WARN" />
		<appender-ref ref="CACHE_CONSOLE" />
	</logger>

	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="net.sf.taverna.t2.platform" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="net.sf.taverna.t2.service" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>